@page

@{
    Layout = "~/Pages/Shared/_PageLayout.cshtml";
}

@{
    ViewData["Title"] = "Methods";
}

@section LibraryHeader {JavaScript}
@section PageName {Methods}

@section Menu
{
    <partial name="_JavaScriptMenu" />
}

<p>
    <strong>Date.parse()</strong><br />
    If you have a valid date string, you can use the <code>Date.parse()</code> method to convert it to milliseconds.
    <code>Date.parse(</code>) returns the number of milliseconds between the date and January 1, 1970. You can then use the number of
    milliseconds to convert it to a date object.
</p>

<div class="my-5"></div>

<p>
    <strong>Date.toUTCString() / Date.toLocaleString() / </strong><br />
    Return the time portion of a Date object as a string, using locale conventions.
</p>

<div class="card text-white bg-info mt-5">
    <div class="card-body">
        <div id="demo3"></div>
        <div id="demo4"></div>
        <div id="demo5"></div>
    </div>
</div>

<pre>
<code>
let utcDate = new Date("2011-06-29T16:00:00.000z");
document.getElementById("demo3").innerHTML = `utcDate: ${utcDate.toUTCString()}`;
document.getElementById("demo4").innerHTML = `converted to local: ${utcDate.toLocaleString()}`;
document.getElementById("demo5").innerHTML = `converted to utc: ${utcDate.toUTCString()}`;
</code>
</pre>


<div class="my-5"></div>

<div>
    <h4 class="text-center text-info"><span id="demo1"></span></h4>
</div>

<pre>
<code>
let stringDate = "April 30, 1970";
let dateInMilliseconds = Date.parse(stringDate);
let birthDate = new Date(dateInMilliseconds);
document.getElementById("demo1").innerHTML = birthDate;
</code>
</pre>

<div class="my-5"></div>

<p>
    <strong>Compare Dates</strong><br />
    Dates can easily be compared. The following example compares today's date with January 14, 2100.
</p>

<pre>
<code>
let date1 = new Date(1970, 04, 30);
let date2 = new Date(1969, 05, 13);
let message = "";

if (date2 < date1)
{
    message="Lisa is older.";
}
</code>
</pre>

<div>
    <h4 class="text-center text-info"><span id="demo2"></span></h4>
</div>

<div class="my-5"></div>

@section Scripts
{
    <script>
        let stringDate = "April 30, 1970";
        let dateInMilliseconds = Date.parse(stringDate);
        let birthDate = new Date(dateInMilliseconds);
        document.getElementById("demo1").innerHTML = birthDate;

        let date1 = new Date(1970, 04, 30);
        let date2 = new Date(1969, 05, 13);
        let message = "";

        if (date2 < date1) {
            message = "Lisa is older.";
        }
        document.getElementById("demo2").innerHTML = message;

        let utcDate = new Date("2011-06-29T16:00:00.000z");
        document.getElementById("demo3").innerHTML = `utcDate: ${utcDate.toUTCString()}`;
        document.getElementById("demo4").innerHTML = `converted to local: ${utcDate.toLocaleString()}`;
        document.getElementById("demo5").innerHTML = `converted to utc: ${utcDate.toUTCString()}`;
    </script>
}
