@page

@using JsPlayground2021.Web.Data.Enums
@using JsPlayground.Pages.Javascript.Basics

@{
    Layout = "~/Pages/Shared/_PageLayout.cshtml";
}

@{
    ViewData["Title"] = "Break Reference Label";
}

@section LibraryHeader {JavaScript}
@section PageName {Break Reference Label}

@section Menu
{
    <partial name="_MenuContainer" model="MenuType.Javascipt" />
}

<p>Using the break statement with a <code>label</code> reference, to "jump out" of a JavaScript code block:</p>

<p>Use and set parameter/argument defaults like so:</p>

<pre>
<code>
var cars = ["BMW", "Volvo", "Saab", "Ford"];
var text = "";

list:
{
    text += cars[0] + "&lt;br />";
    text += cars[1] + "&lt;br />";
    text += cars[2] + "&lt;br />";
    break list;
    text += cars[3] + "&lt;br />";
}
</code>
        </pre>

<p>&nbsp;</p>


@section Scripts
{
}
