@page
@using JsPlayground.Pages.Javascript.Basics

@{
    Layout = "~/Pages/Shared/_PageLayout.cshtml";
}

@{
    ViewData["Title"] = "Regions";
}

@section LibraryHeader {JavaScript}
@section PageName {Regions}

@section Menu
{
    <partial name="_JavaScriptMenu" />
}
<p>You can use collapsible Regions in Visual Studio with JavaScript files like so:</p>

<pre>
<code>
#region MyRegion
// ...code here..
// ...code here..
#endregion MyRegion
</code>
</pre>

<p>&nbsp;</p>


@section Scripts
{
}
