@page

@using JsPlayground2021.Web.Data.Enums

@model JsPlayground.Pages.TypeScript.FlowControl.IfModel

@{
    string pageId = "If";
    Layout = "~/Pages/Shared/_PageLayout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {TypeScript}
@section PageName {@pageId}

@section Menu
{
        <partial name="_MenuContainer" model="MenuType.TypeScript" />
}
<p>if statement</p>

<pre>
<code>
if (condition1)
{
    //block of code to be executed if condition1 is true
}

else if (condition2)
{
    //block of code to be executed if the condition1 is false and condition2 is true
}

else
{
    //block of code to be executed if the condition1 is false and condition2 is false
}
</code>
</pre>

<p>&nbsp;</p>
