@page

@model JsPlayground.Pages.TypeScript.FlowControl.IfModel

@{
    string pageId = "If";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {TypeScript}
@section BreadCrumbLibrary {typescript}
@section BreadCrumbAnchor {ts-flow-control}
@section BreadCrumbChapter {flow control}
@section BreadCrumbPageName {@pageId.ToLower()}
@section PageName {@pageId}

<p>if statement</p>

<pre>
<code>
if (condition1)
{
    //block of code to be executed if condition1 is true
}

else if (condition2)
{
    //block of code to be executed if the condition1 is false and condition2 is true
}

else
{
    //block of code to be executed if the condition1 is false and condition2 is false
}
</code>
</pre>

<p>&nbsp;</p>
