@page

@using JsPlayground2021.Web.Data.Enums

@model JsPlayground.Pages.TypeScript.Challenges.FibonacciModel

@{
    string pageId = "Fibonacci Challenge";
    Layout = "~/Pages/Shared/_PageLayout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {TypeScript}
@section PageName {@pageId}

@section Menu
{
        <partial name="_MenuContainer" model="MenuType.TypeScript" />
}

<p>Current Number = sum of last 2 numbers.</p>

<div class="row">
    <div class="col-4">
        <span id="output"></span>
    </div>
</div>



@section Scripts
{
    <script src="../../assets/javascripts/compiled/challenges/fibonacci.js"></script>
}

