@page

@model JsPlayground.Pages.Javascript.JavaScriptIndex

@{
    string pageId = "JavaScripts";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {JavaScript}
@section BreadCrumbLibrary {javascript}
@section BreadCrumbAnchor {js-widgets}
@section BreadCrumbChapter {widgets}
@section BreadCrumbPageName {@pageId.ToLower()}
@section PageName {@pageId}

<div class="row">
    <div class="col-12">
    </div>
</div>

<p>&nbsp;</p>

@section Scripts
{
}
