@page

@using JsPlayground2021.Web.Data.Enums
@using JsPlayground.Pages.Javascript.Arrays

@model ArrayAddingUsingLengthModel

@{
    Layout = "~/Pages/Shared/_PageLayout.cshtml";
}

@{
    ViewData["Title"] = "Array Adding Using Length";
}

@section LibraryHeader {JavaScript}
@section PageName {Adding to Array using length()}

@section Menu
{
    <partial name="_MenuContainer" model="MenuType.Javascipt" />
}

<p class="text-center">
    <a href="https://www.w3schools.com/jsref/jsref_obj_array.asp" target="_blank">
        https://www.w3schools.com/jsref/jsref_obj_array.asp
    </a>
</p>

<div>
    <h3 class="text-danger" id="demo"></h3>
</div>

<pre>
<code>
let fruits = ["banana", "apple", "pear"];
fruits[fruits.length] = "lemon";
document.getElementById("demo").innerHTML = "length is " + fruits.length;
let exampleLabel = document.getElementById("example");
exampleLabel.innerHTML = fruits.toString();
</code>
</pre>

<p>&nbsp;</p>

@section Scripts
{
    <script>
        let fruits = ["banana", "apple", "pear"];
        fruits[fruits.length] = "lemon";
        document.getElementById("demo").innerHTML = "length is " + fruits.length + ": " + fruits.toString();
        let exampleLabel = document.getElementById("example");
        exampleLabel.innerHTML = fruits.toString();
    </script>
}
