@page

@using JsPlayground2021.Web.Data.Enums
@using JsPlayground.Pages.Javascript.Arrays

@model ForEachModel

@{
    Layout = "~/Pages/Shared/_PageLayout.cshtml";
}

@{
    ViewData["Title"] = "foreach()";
}

@section LibraryHeader {JavaScript}
@section PageName {foreach()}

@section Menu
{
    <partial name="_MenuContainer" model="MenuType.Javascipt" />
}

<p class="text-center">
    <a href="https://www.w3schools.com/jsref/jsref_obj_array.asp" target="_blank">
        https://www.w3schools.com/jsref/jsref_obj_array.asp
    </a>
</p>

<p>
    The <code>foreach()</code> method calls a <strong>function</strong> once for each element in an array, in order.
</p>

<p><a href="https://www.w3schools.com/jsref/jsref_foreach.asp">https://www.w3schools.com/jsref/jsref_foreach.asp</a></p>

<pre>
<code>
let output = "";
const ages = [40, 11, 8, 32, 33, 16, 40];
const CheckForAdult = (age) =>
{
    output += (age >= 18) ? `I am an adult. I am ${age}.&lt;br />` : `I am not an adult. I am ${age}.&lt;br />`;
};
ages.forEach(CheckForAdult);
document.getElementById("demo1").innerHTML = output;
</code>
</pre>

<div class="card text-white bg-info mt-1">
    <div class="card-body">
        <div class="small my-0"><em>results:</em></div>
        <h4 class="text-white">Adult ages</h4>
        <div id="demo1"></div>
    </div>
</div>


<p>&nbsp;</p>

<p>&nbsp;</p>

@section Scripts
{
    <script>
        let output = "";
        const ages = [40, 11, 8, 32, 33, 16, 40];
        const CheckForAdult = (age) => {
            output += (age >= 18) ? `I am an adult. I am ${age}.<br />` : `I am not an adult. I am ${age}.<br />`;
        };
        ages.forEach(CheckForAdult);
        document.getElementById("demo1").innerHTML = output;
    </script>
}
