@page

@using JsPlayground2021.Web.Data.Enums
@using JsPlayground.Pages.Javascript.Arrays

@model MapModel

@{
    Layout = "~/Pages/Shared/_PageLayout.cshtml";
}

@{
    ViewData["Title"] = "map()";
}

@section LibraryHeader {JavaScript}
@section PageName {map()}

@section Menu
{
    <partial name="_MenuContainer" model="MenuType.Javascipt" />
}

<p class="text-center">
    <a href="https://www.w3schools.com/jsref/jsref_obj_array.asp" target="_blank">
        https://www.w3schools.com/jsref/jsref_obj_array.asp
    </a>
</p>

<p>
    The <code>map()</code> method creates a <strong>new array</strong> with the results of calling a <strong>function</strong> for
    every array element. The <code>map()</code> method calls the provided function once for each element in an array, in order.
    <code>map()</code> does not execute the function for array elements without values.
</p>

<p>
    The return type is a new array. <strong>
        For each element in the orig array, it will call a function and add the results
        to the new array
    </strong>.
</p>

<p>
    <a href="https://www.w3schools.com/jsref/jsref_map.asp" target="_blank">
        https://www.w3schools.com/jsref/jsref_map.asp
    </a>
</p>

<p>
    You can also use lambda expressions with <code>.map()</code>.
</p>

<pre>
<code>
const Capitalize = (fruit) =>
{
    return fruit.toUpperCase();
};

window.onload = function ()
{
    let fruits = ["Banana", "Orange", "Apple", "Mango"];

    let capFruitsArray = fruits.map(Capitalize);
    document.getElementById("demo").innerHTML = capFruitsArray.join(" - ");

    let lcFruits = fruits.map(f => f.toLowerCase());
    document.getElementById("demo2").innerHTML = lcFruits.join(" - ");
}
</code>
</pre>

<div class="card text-white bg-info mt-1">
    <div class="card-body">
        <div class="small my-0"><em>results:</em></div>
        <div id="demo"></div>
        <div id="demo2"></div>
    </div>
</div>

<p>&nbsp;</p>

<script src="/assets/javascripts/pages/javascript/map.js" asp-append-version="true"></script>

@section Scripts
{
}
