@page

@using JsPlayground2021.Web.Data.Enums
@using JsPlayground.Pages.Javascript.Arrays

@model PushModel

@{
    Layout = "~/Pages/Shared/_PageLayout.cshtml";
}

@{
    ViewData["Title"] = "push()";
}

@section LibraryHeader {JavaScript}
@section PageName {push()}

@section Menu
{
    <partial name="_MenuContainer" model="MenuType.Javascipt" />
}

<p class="text-center">
    <a href="https://www.w3schools.com/jsref/jsref_obj_array.asp" target="_blank">
        https://www.w3schools.com/jsref/jsref_obj_array.asp
    </a>
</p>

<pre>
<code>
let fruits = ["Apples","Bananas","Oranges"];
fruits.push("Pineapple");
let exampleLabel = document.getElementById("example");
exampleLabel.innerHTML = fruits.toString();
</code>
</pre>

<div class="card text-white bg-info mt-1">
    <div class="card-body">
        <div class="small my-0"><em>results:</em></div>
        <div id="example"></div>
    </div>
</div>

<p>&nbsp;</p>

@section Scripts
{
    <script>
        let fruits = ["Apples", "Bananas", "Oranges"];
        fruits.push("Pineapple");
        let exampleLabel = document.getElementById("example");
        exampleLabel.innerHTML = fruits.toString();
    </script>
}
