@page

@using JsPlayground2021.Web.Data.Enums
@using JsPlayground.Pages.Javascript.Arrays

@model ReverseModel

@{
    Layout = "~/Pages/Shared/_PageLayout.cshtml";
}

@{
    ViewData["Title"] = "reverse()";
}

@section LibraryHeader {JavaScript}
@section PageName {reverse()}

@section Menu
{
    <partial name="_MenuContainer" model="MenuType.Javascipt" />
}

<p class="text-center">
    <a href="https://www.w3schools.com/jsref/jsref_obj_array.asp" target="_blank">
        https://www.w3schools.com/jsref/jsref_obj_array.asp
    </a>
</p>

<p>
    The <code>reverse()</code> method sorts an array in reverse order and treats all items as <strong>strings</strong>.
</p>

<pre>
<code>
// notice that we sorted it first and then reversed it.
let fruits = ["Banana", "Apple", "Orange", "Lemon", "Mango"];
document.getElementById("demo").innerHTML = fruits.<mark>sort().reverse()</mark>.join("-");
</code>
</pre>

<div class="card text-white bg-info mt-1">
    <div class="card-body">
        <div class="small my-0"><em>results:</em></div>
        <div id="demo"></div>
    </div>
</div>

<p>&nbsp;</p>

<p>&nbsp;</p>

@section Scripts
{
    <script>
        let fruits = ["Banana", "Apple", "Orange", "Lemon", "Mango"];
        document.getElementById("demo").innerHTML = fruits.sort().reverse().join("-");
    </script>
}
