@page

@using JsPlayground2021.Web.Data.Enums
@using JsPlayground.Pages.Javascript.Arrays

@model ShiftModel

@{
    Layout = "~/Pages/Shared/_PageLayout.cshtml";
}

@{
    ViewData["Title"] = "shift()";
}

@section LibraryHeader {JavaScript}
@section PageName {shift()}

@section Menu
{
    <partial name="_MenuContainer" model="MenuType.Javascipt" />
}

<p class="text-center">
    <a href="https://www.w3schools.com/jsref/jsref_obj_array.asp" target="_blank">
        https://www.w3schools.com/jsref/jsref_obj_array.asp
    </a>
</p>

<p>
    Shifting is equivalent to popping, working on the <strong>first element instead of the last</strong>. The shift() method removes the
    first array element and "shifts" all other elements to a lower index. It DOES reassign new indexes.
</p>

<pre>
<code>
let fruits = ["Banana", "Orange", "Apple", "Mango"];
document.getElementById("before").innerHTML = fruits.join("-");

fruits.shift();

document.getElementById("after").innerHTML = fruits.join("-");

let output = "";
for (var i = 0; i &lt; fruits.length; i++) { output +="The index is " + i + "&lt;br />" ; }
document.getElementById("demo2").innerHTML=output;
</code>
</pre>

<div class="card text-white bg-info mt-1">
    <div class="card-body">
        <div class="small my-0"><em>results:</em></div>
        <div id="before"></div>
        <div id="after"></div>
        <div id="demo"></div>
    </div>
</div>

<p>&nbsp;</p>

@section Scripts
{
    <script>
        let fruits = ["Banana", "Orange", "Apple", "Mango"];
        document.getElementById("before").innerHTML = fruits.join("-");

        fruits.shift();

        document.getElementById("after").innerHTML = fruits.join("-");

        let output = "";
        for (var i = 0; i < fruits.length; i++) {
            output += "The index is " + i + "<br />";
        }
        document.getElementById("demo2").innerHTML = output;
    </script>
}
