@page

@using JsPlayground2021.Web.Data.Enums

@model JsPlayground.Pages.TypeScript.Basics.HierarchyModel

@{
    string pageId = "Hierarchy";
    Layout = "~/Pages/Shared/_PageLayout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {TypeScript}
@section PageName {@pageId}

@section Menu
{
        <partial name="_MenuContainer" model="MenuType.TypeScript" />
}


<p class="text-center">
    <img src="/assets/images/hierarchy.PNG" />
</p>

<p>&nbsp;</p>

@section Scripts
{ }
