@page

@using JsPlayground2021.Web.Data.Enums

@model JsPlayground.Pages.TypeScript.Basics.SimpleExampleModel

@{
    string pageId = "Simple Example";
    Layout = "~/Pages/Shared/_PageLayout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {TypeScript}
@section PageName {@pageId}

@section Menu
{
        <partial name="_MenuContainer" model="MenuType.TypeScript" />
}


<h5>What is TypeScript</h5>

<p>
    TypeScript is very much like C# or any other OOP language. This simple Class has a property.
    The Constructor requires an argument of type String and the function “greet”
    returns the message + "Hello". It supports encapsulation and Static Typing.
</p>

<pre>
<code>
class Greeter
{
    Greeting: string = "";

    constructor (message: string)
    { this.Greeting = message;}

    Greet()
    {
        return "Hello" + this.Greeting;
    }
}
</code>
</pre>

<p>&nbsp;</p>

@section Scripts
{ }
