@page

@{
    Layout = "~/Pages/Shared/_HomeLayout.cshtml";
}

@model IndexModel

@{
    ViewData["Title"] = "JavaScript, TypeScript, & jQuery Playground";
}

<header>
    <div class="container mt-3">
        <h2 class="text-center">JavaScript / TypeScript / jQuery Demos</h2>
    </div>
</header>

<div class="container mt-5">

    <p>
        This site is simple collection of concepts and samples which I have written over the past several years. 
        As I learned something new, or relearned something I once knew and forgotten is more likely,
        I would whip up a little demo page within this site so I could refer back to it whenever needed. 
        The practice and the archiving of these tasks has been very beneficial.
    </p>

    <p>
        Use as you wish and at your own risk. I make no guarantees regarding the quality of this code - it is simply for my 
        own personal reference. Perhaps you will find it useful too.
    </p>

    <div class="row mt-5">

        <div class="col-4">
            <div class="d-flex justify-content-center">
                <a asp-page="/JavaScript/Index">
                    <img src="/assets/images/js-logo.png" class="max-w-d-200px" />
                </a>
            </div>
        </div>

        <div class="col-4">
            <div class="d-flex justify-content-center">
                <a asp-page="/TypeScript/Index">
                    <img src="/assets/images/typescript-logo.png" class="max-w-d-200px" />
                </a>
            </div>
        </div>

        <div class=col-4>
            <div class="d-flex justify-content-center">
                <a asp-page="/jQuery/Index">
                    <img src="/assets/images/jquery-logo.png" class="max-w-d-200px" />
                </a>
            </div>
        </div>
    </div>

    <div class="my-5">
        &nbsp;
    </div>

    <div class="my-5">
        @await  Component.InvokeAsync("MovieTrivia")
    </div>

</div>

