@page

@{
    Layout = "~/Pages/Shared/_HomeLayout.cshtml";
}

@model IndexModel

@{
    ViewData["Title"] = "JS Playground";
}

<header>
    <div class="container mt-3">
        <h2 class="text-muted text-center"><a href="/">JavaScript / TypeScript / jQuery Demos</a></h2>
    </div>
</header>

<div class="container mt-5">

    <div class="row mt-3">

        <!-- javascript -->
        <div class="col-4">
            <div>
                <img src="assets/images/javascript-logo.PNG" style="max-height: 75px;" />
            </div>

            <p id="js-animations"><strong>Animations</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/JavaScript/Animation/BasicExample">Basic Example</a></li>
            </ul>

            <p id="js-api"><strong>API</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/JavaScript/API/GoogleMaps">Google Maps</a></li>
                <li><a asp-page="/JavaScript/API/ValidationApi">Validation API</a></li>
                <li><a asp-page="/JavaScript/API/ValidationApiExample2">Validation API Example</a></li>
            </ul>

            <p id="js-arrays"><strong>Arrays</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/Arrays/ArrayMethods">Array Methods</a></li>
                <li><a asp-page="/Javascript/Arrays/ArrayAddingUsingLength">Array Add Using length()</a></li>
                <li><a asp-page="/Javascript/Arrays/ArrayProperties">Array Properties</a></li>
                <li><a asp-page="/Javascript/Arrays/Basics">Basics</a></li>
                <li><a asp-page="/Javascript/Arrays/GetValsFromArray">Get values examples</a></li>
                <li><a asp-page="/Javascript/Arrays/Concat">concat()</a></li>
                <li><a asp-page="/Javascript/Arrays/Destructuring">destructuring</a></li>
                <li><a asp-page="/Javascript/Arrays/Fill">fill()</a></li>
                <li><a asp-page="/Javascript/Arrays/Filter">filter()</a></li>
                <li><a asp-page="/Javascript/Arrays/Find">find()</a></li>
                <li><a asp-page="/Javascript/Arrays/ForEach">foreach()</a></li>
                <li><a asp-page="/Javascript/Arrays/Includes">includes()</a></li>
                <li><a asp-page="/Javascript/Arrays/IndexOf">indexOf()</a></li>
                <li><a asp-page="/Javascript/Arrays/IsArray">isArray()</a></li>
                <li><a asp-page="/Javascript/Arrays/Join">join()</a></li>
                <li><a asp-page="/Javascript/Arrays/Map">map()</a></li>
                <li><a asp-page="/Javascript/Arrays/Pop">pop()</a></li>
                <li><a asp-page="/Javascript/Arrays/Push">push()</a></li>
                <li><a asp-page="/Javascript/Arrays/Reduce">reduce()</a></li>
                <li><a asp-page="/Javascript/Arrays/Reverse">reverse()</a></li>
                <li><a asp-page="/Javascript/Arrays/Shift">shift()</a></li>
                <li><a asp-page="/Javascript/Arrays/Slice">slice()</a></li>
                <li><a asp-page="/Javascript/Arrays/Some">some()</a></li>
                <li><a asp-page="/Javascript/Arrays/Sort">sort()</a></li>
                <li><a asp-page="/Javascript/Arrays/Splice">splice()</a></li>
                <li><a asp-page="/Javascript/Arrays/Spread">Spread</a></li>
                <li><a asp-page="/Javascript/Arrays/ToString">toString()</a></li>
                <li><a asp-page="/Javascript/Arrays/ValueOf">valueOf()</a></li>
            </ul>

            <p id="js-async"><strong>Async</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/async/Basics">Basics</a></li>
                <li><a asp-page="/Javascript/async/Fetch">fetch()</a></li>
            </ul>

            <p id="js-basics"><strong>Basics</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/Basics/Basics">Basics</a></li>
                <li><a asp-page="/Javascript/Basics/BestPractices">Best Practices</a></li>
                <li><a asp-page="/Javascript/Basics/BreakReferenceLabel">Break Reference Label</a></li>
                <li><a asp-page="/Javascript/Basics/CommonDomProperties">Common DOM Properties</a></li>
                <li><a asp-page="/Javascript/Basics/ConstructorProperty">Constructor Property</a></li>
                <li><a asp-page="/Javascript/Basics/Defer">Defer</a></li>
                <li><a asp-page="/Javascript/Basics/EscapeCharacters">Escape Characters</a></li>
                <li><a asp-page="/Javascript/Basics/Keywords">Keywords</a></li>
                <li><a asp-page="/Javascript/Basics/Operators">Operators</a></li>
                <li><a asp-page="/Javascript/Basics/Regions">Regions</a></li>
                <li><a asp-page="/Javascript/Basics/Scopes">Scopes</a></li>
                <li><a asp-page="/Javascript/Basics/Ternary">Ternary Operator</a></li>
                <li><a asp-page="/Javascript/Basics/TruthyFalsy">Truthy &amp; Falsy</a></li>
                <li><a asp-page="/Javascript/Basics/ValueOf">Value Of</a></li>
                <li><a asp-page="/Javascript/Basics/VSCode">VS Code</a></li>
            </ul>

            <p id="js-challenges"><strong>Challenges</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/Challenges/EvenNumbers">even numbers using map()</a></li>
                <li><a asp-page="/Javascript/Challenges/AggregateArray">Aggregate Array</a></li>
            </ul>

            <p id="js-classes"><strong>Classes</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/Classes/Basics">Basics</a></li>
            </ul>

            <p id="js-console"><strong>Console</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/Console/Examples">Console Examples</a></li>
            </ul>

            <p id="js-dates"><strong>Dates</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/Dates/Formats">Date Formats</a></li>
                <li><a asp-page="/Javascript/Dates/GetMethods">Date Get Methods</a></li>
                <li><a asp-page="/Javascript/Dates/Methods">Date Methods</a></li>
                <li><a asp-page="/Javascript/Dates/SetMethods">Date Set Methods</a></li>
                <li><a asp-page="/Javascript/Dates/NewDate">Instantiating New Date</a></li>
                <li><a asp-page="/Javascript/Dates/TimeZones">Time Zones</a></li>
            </ul>

            <p id="js-debugging"><strong>Debugging</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/Debugging/Basics">Basics</a></li>
                <li><a asp-page="/Javascript/Debugging/Console">Console</a></li>
                <li><a asp-page="/Javascript/Debugging/Debugger">Debugger</a></li>
                <li><a asp-page="/Javascript/Debugging/Strict">Strict Mode</a></li>
                <li><a asp-page="/Javascript/Debugging/TryCatch">Try Catch</a></li>
            </ul>

            <p id="js-dom-elements"><strong>DOM Elements</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/DOMElements/Accessing">Accessing DOM Elements</a></li>
                <li><a asp-page="/Javascript/DOMElements/Adding">Adding DOM Elements</a></li>
                <li><a asp-page="/Javascript/DOMElements/Deleting">Deleting DOM Elements</a></li>
            </ul>

            <p id="js-dom-methods"><strong>DOM Methods</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/DOMMethods/Methods">common methods</a></li>
                <li><a asp-page="/Javascript/DOMMethods/DocumentReady">document ready</a></li>
                <li><a asp-page="/Javascript/DOMMethods/GetElementByClass">getElementByClassName()</a></li>
                <li><a asp-page="/Javascript/DOMMethods/GetElementById">getElementById()</a></li>
                <li><a asp-page="/Javascript/DOMMethods/GetElementByTag">getElementByTagName()</a></li>
                <li><a asp-page="/Javascript/DOMMethods/QuerySelector">querySelectorAll()</a></li>
                <li><a asp-page="/Javascript/DOMMethods/SetAttribute">setAttribute()</a></li>
            </ul>

            <p id="js-dom-navigation"><strong>DOM Navigation</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/DOMNavigation/Basics">Basics</a></li>
                <li><a asp-page="/Javascript/DOMNavigation/ChildNodes">child nodes</a></li>
                <li><a asp-page="/Javascript/DOMNavigation/Children">children</a></li>
                <li><a asp-page="/Javascript/DOMNavigation/CreateNewNodes">create new nodes</a></li>
                <li><a asp-page="/Javascript/DOMNavigation/RemoveChild">remove child</a></li>
                <li><a asp-page="/Javascript/DOMNavigation/ReplaceChild">replace child</a></li>
                <li><a asp-page="/Javascript/DOMNavigation/RootNodes">root nodes</a></li>
            </ul>

            <p id="js-dom-properties"><strong>DOM Properties</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/DOMProperties/ChangingProperties">Changing Properties</a></li>
                <li><a asp-page="/Javascript/DOMProperties/CookieProperty">Cookie Property</a></li>
                <li><a asp-page="/Javascript/DOMProperties/InnerhtmlInnertext">innerHTML and innerText</a></li>
            </ul>

            <p id="js-dom-events"><strong>Event Listeners</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/Events/AddEventListener">addEventListener</a></li>
                <li><a asp-page="/Javascript/Events/AddEventListenerToMultipleTags">addEventListener to multiple tags</a></li>
                <li><a asp-page="/Javascript/Events/OnChange">onchange</a></li>
                <li><a asp-page="/Javascript/Events/OnClick">onclick</a></li>
                <li><a asp-page="/Javascript/Events/Events">Events</a></li>
                <li><a asp-page="/Javascript/Events/OnMouseoverOnMouseout">onmouseover - onmouseout</a></li>
                <li><a asp-page="/Javascript/Events/OnMouseupOnMousedown">onmouseup - onmousedown</a></li>
                <li><a asp-page="/Javascript/Events/OnclickVsClick">onclick vs click</a></li>
                <li><a asp-page="/Javascript/Events/OnBlurOnFocus">onblur - onfocus</a></li>
                <li><a asp-page="/Javascript/Events/Onload">onload</a></li>
                <li><a asp-page="/Javascript/Events/OnUnload">onunload</a></li>
                <li><a asp-page="/Javascript/Events/PreventDefault">preventDefault</a></li>
            </ul>

            <p id="js-flow-control"><strong>Flow Control</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/FlowControl/ForLoops">for loops (various)</a></li>
                <li><a asp-page="/Javascript/FlowControl/WhileLoops">while loops (various)</a></li>
            </ul>

            <p id="js-forms"><strong>Forms</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/Forms/LoopThruFormControls">Loop thru form controls</a></li>
                <li><a asp-page="/Javascript/Forms/PreventDefault">preventDefault()</a></li>
            </ul>

            <p id="js-functions"><strong>Functions</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/Functions/AnonymousFunctions">Anonymous Functions</a></li>
                <li><a asp-page="/Javascript/Functions/Arguments">Arguments</a></li>
                <li><a asp-page="/Javascript/Functions/ArrowFunctions">Arrow Functions</a></li>
                <li><a asp-page="/Javascript/Functions/FunctionsAreObjects">Functions are objects</a></li>
                <li><a asp-page="/Javascript/Functions/FunctionExpressions">Function Expressions</a></li>
                <li><a asp-page="/Javascript/Functions/IIFEFunctions">"IIFE" Functions</a></li>
                <li><a asp-page="/Javascript/Functions/InvokingVsCalling">Invoking vs Calling</a></li>
                <li><a asp-page="/Javascript/Functions/ReferenceExample">Reference Example</a></li>
                <li><a asp-page="/Javascript/Functions/RecursiveVsNonrecursive">Recursive vs Non Recursive</a></li>
                <li><a asp-page="/Javascript/Functions/ScopeOfArrowFunctions">Scope of Arrow Functions</a></li>
                <li><a asp-page="/Javascript/Functions/SelfInvokingFunctions">Self Invoking Functions</a></li>
            </ul>

            <p id="js-global-functions"><strong>Global Functions</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/GlobalFunctions/Boolean">Boolean()</a></li>
                <li><a asp-page="/Javascript/GlobalFunctions/CommonFunctions">Common Global Functions</a></li>
                <li><a asp-page="/Javascript/GlobalFunctions/EncodeuriDecodeuri">encodeUri() - decodeUri()</a></li>
                <li><a asp-page="/Javascript/GlobalFunctions/Eval">eval()</a></li>
                <li><a asp-page="/Javascript/GlobalFunctions/IsNan">IsNan()</a></li>
                <li><a asp-page="/Javascript/GlobalFunctions/Number">Number()</a></li>
                <li><a asp-page="/Javascript/GlobalFunctions/ParseFloat">parseFloat()</a></li>
                <li><a asp-page="/Javascript/GlobalFunctions/ParseInt">parseInt()</a></li>
                <li><a asp-page="/Javascript/GlobalFunctions/TypeConversions">Type conversions</a></li>
            </ul>

            <p id="js-json"><strong>JSON</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/JSON/Basics">Basics</a></li>
                <li><a asp-page="/Javascript/JSON/Parse">JSON.parse()</a></li>
                <li><a asp-page="/Javascript/JSON/Stringify">JSON.stringify()</a></li>
            </ul>

            <p id="js-keywords"><strong>Keywords</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/Keywords/Const">const</a></li>
                <li><a asp-page="/Javascript/Keywords/Return">return</a></li>
                <li><a asp-page="/Javascript/Keywords/This">this</a></li>
            </ul>

            <p id="js-libraries"><strong>Libraries (3rd party)</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/Libraries/Shuffle">shuffle()</a></li>
            </ul>

            <p id="js-math"><strong>Math</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/Math/CommonMathFunctions">Common Math Functions</a></li>
                <li><a asp-page="/Javascript/Math/Floor">floor()</a></li>
                <li><a asp-page="/Javascript/Math/MinMax">min() / max()</a></li>
                <li><a asp-page="/Javascript/Math/Random">random()</a></li>
                <li><a asp-page="/Javascript/Math/Round">round()</a></li>
                <li><a asp-page="/Javascript/Math/ToFixed">toFixed()</a></li>
                <li><a asp-page="/Javascript/Math/ToPrecision">toPrecision()</a></li>
            </ul>

            <p id="js-modules"><strong>Modules</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/Modules/Basics">Modules Basics</a></li>
                <li><a asp-page="/Javascript/Modules/NamedExports">Named Exports</a></li>
                <li><a asp-page="/Javascript/Modules/ExportDefault">Export Default</a></li>
                <li><a asp-page="/Javascript/Modules/ExportDefault">Aggregating Exports</a></li>
                <li><a asp-page="/Javascript/Modules/Importing">Importing</a></li>
                <li><a asp-page="/Javascript/Modules/ModuleDemo">Module Demo</a></li>
            </ul>

            <p id="js-objects"><strong>Objects</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/Objects/AddingDeletingProperties">Adding / Deleting Object Properties</a></li>
                <li><a asp-page="/Javascript/Objects/Assign">Assign (cloning)</a></li>
                <li><a asp-page="/Javascript/Objects/BuiltInConstructors">Built In Constructors</a></li>
                <li><a asp-page="/Javascript/Objects/CreatingNewObject">Creating a new Object</a></li>
                <li><a asp-page="/Javascript/Objects/ComparingObjects">Comparing Objects</a></li>
                <li><a asp-page="/Javascript/Objects/Constructors">Constructors</a></li>
                <li><a asp-page="/Javascript/Objects/DeleteAProperty">Delete A Property</a></li>
                <li><a asp-page="/Javascript/Objects/DestructuringSpreading">Destructuring and Spreading</a></li>
                <li><a asp-page="/Javascript/Objects/FunctionsInObjects">Functions in Objects</a></li>
                <li><a asp-page="/Javascript/Objects/LoopingThruProperties">Looping Thru Properties</a></li>
                <li><a asp-page="/Javascript/Objects/ObjectLiterals">Object Literals</a></li>
                <li><a asp-page="/Javascript/Objects/Properties">Properties</a></li>
            </ul>

            <p id="js-snippets"><strong>Snippets</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/Snippets/IsDate">IsDate</a></li>
                <li><a asp-page="/Javascript/Snippets/IsNumeric">IsNumeric</a></li>
                <li><a asp-page="/Javascript/Snippets/LeftPad">LeftPad</a></li>
            </ul>

            <p id="js-strings"><strong>String</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/Strings/CharAt">charAt() / charCodeAt()</a></li>
                <li><a asp-page="/Javascript/Strings/IndexOf">indexOf()</a></li>
                <li><a asp-page="/Javascript/Strings/LastIndexOf">lastIndexOf()</a></li>
                <li><a asp-page="/Javascript/Strings/Length">length</a></li>
                <li><a asp-page="/Javascript/Strings/RegexBasics">RegEx Basics</a></li>
                <li><a asp-page="/Javascript/Strings/RegexExample">RegEx Example</a></li>
                <li><a asp-page="/Javascript/Strings/RegexPatterns">RegEx Patterns</a></li>
                <li><a asp-page="/Javascript/Strings/Match">match()</a></li>
                <li><a asp-page="/Javascript/Strings/Replace">replace()</a></li>
                <li><a asp-page="/Javascript/Strings/Search">search()</a></li>
                <li><a asp-page="/Javascript/Strings/Slice">slice()</a></li>
                <li><a asp-page="/Javascript/Strings/Split">split()</a></li>
                <li><a asp-page="/Javascript/Strings/TemplateLiterals">String Template Literals</a></li>
                <li><a asp-page="/Javascript/Strings/SubString">substring()</a></li>
                <li><a asp-page="/Javascript/Strings/ToString">toString()</a></li>
                <li><a asp-page="/Javascript/Strings/ToUpperCaseToLowerCase">toUpperCase() / toLowerCase()</a></li>
            </ul>

            <p id="js-types"><strong>Types</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/Types/DataTypes">data types</a></li>
                <li><a asp-page="/Javascript/Types/Number">number</a></li>
                <li><a asp-page="/Javascript/Types/TypeOf">typeof</a></li>
            </ul>

            <p id="js-types"><strong>Widgets</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/Widgets/DailyEarningsClock">Daily Earnings Clock</a></li>
            </ul>

            <p id="js-window"><strong>Window Object</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/Javascript/Window-Object/BrowserObjectModel">Browser Object Model</a></li>
                <li><a asp-page="/Javascript/Window-Object/Methods">Common Methods</a></li>
                <li><a asp-page="/Javascript/Window-Object/History">History Object</a></li>
                <li><a asp-page="/Javascript/Window-Object/LocalStorage">Local Storage</a></li>
                <li><a asp-page="/Javascript/Window-Object/Location">Location Object</a></li>
                <li><a asp-page="/Javascript/Window-Object/Navigator">Navigator Object</a></li>
                <li><a asp-page="/Javascript/Window-Object/PopUps">PopUps</a></li>
                <li><a asp-page="/Javascript/Window-Object/SetInterval">setInterval() / clearInterval()</a></li>
                <li><a asp-page="/Javascript/Window-Object/SetTimeout">setTimeout() / clearTimeout() REDO THIS</a></li>
                <li><a asp-page="/Javascript/Window-Object/InnerHeightInnerWidth">Window Inner Height / Inner Width</a></li>
                <li><a asp-page="/Javascript/Window-Object/WindowObject">Window Object</a></li>
                <li><a asp-page="/Javascript/Window-Object/WindowScreen">Window Screen Object</a></li>
            </ul>

        </div>

        <!-- typescript -->
        <div class="col-4">
            <div>
                <img src="assets/images/typescript-logo.PNG" style="max-height: 75px;" />
            </div>

            <p id="ts-basics"><strong>Basics</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/TypeScript/Basics/AccessModifiers">Access Modifiers</a></li>
                <li><a asp-page="/TypeScript/Basics/BasicConcepts">Basic Concepts</a></li>
                <li><a asp-page="/TypeScript/Basics/BuildTask">Build Task</a></li>
                <li><a asp-page="/TypeScript/Basics/CompilingManually">Compiling Manually</a></li>
                <li><a asp-page="/TypeScript/Basics/CreatingPaths">Creating Paths</a></li>
                <li><a asp-page="/TypeScript/Basics/Hierarchy">Hierarchy</a></li>
                <li><a asp-page="/TypeScript/Basics/HttpServer">http-server</a></li>
                <li><a asp-page="/TypeScript/Basics/PackageJson">package.json</a></li>
                <li><a asp-page="/TypeScript/Basics/SimpleExample">Simple Example</a></li>
                <li><a asp-page="/TypeScript/Basics/TSConfig">tsconfig.json - the /TypeScript project file</a></li>
                <li><a asp-page="/TypeScript/Basics/MultipleTSConfigFiles">tsconfig.json - multiple files</a></li>
                <li><a asp-page="/TypeScript/Basics/StrictNullChecks">Strict Null Checks</a></li>
                <li><a asp-page="/TypeScript/Basics/TypeAnnotations">Type Annotations</a></li>
                <li><a asp-page="/TypeScript/Basics/TypeAssertions">Type Assertions</a></li>
                <li><a asp-page="/TypeScript/Basics/TypeScriptFeatures">TypeScript features</a></li>
            </ul>

            <p id="ts-challenges"><strong>Challenges</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/TypeScript/Challenges/DropDowns">Drop Down List Challenge</a></li>
                <li><a asp-page="/TypeScript/Challenges/EqualDivision">Equal Division Challenge</a></li>
                <li><a asp-page="/TypeScript/Challenges/Fibonacci">Fibonacci Challenge</a></li>
                <li><a asp-page="/TypeScript/Challenges/PrimeNumbers">Prime Numbers Challenge</a></li>
            </ul>

            <p id="ts-classes"><strong>Classes</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/TypeScript/Classes/AbstractClasses">Abstract Classes</a></li>
                <li><a asp-page="/TypeScript/Classes/Basics">Basics and Features</a></li>
                <li><a asp-page="/TypeScript/Classes/Car">Car Class Demo</a></li>
                <li><a asp-page="/TypeScript/Classes/Fields">Class Fields</a></li>
                <li><a asp-page="/TypeScript/Classes/ClassProperties">Class Properties</a></li>
                <li><a asp-page="/TypeScript/Classes/Constructors">Constructors</a></li>
                <li><a asp-page="/TypeScript/Classes/Extends">Inheritance (extends) Demo</a></li>
                <li><a asp-page="/TypeScript/Classes/FunctionAsClassProperty">Function as Class Property</a></li>
                <li><a asp-page="/TypeScript/Classes/InstantiatingNewObjects">instantiating new objects</a></li>
                <li><a asp-page="/TypeScript/Classes/Spaceship">Spaceship Class Blueprint Demo</a></li>
            </ul>

            <p id="ts-cookies"><strong>Cookies</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/TypeScript/Cookies/Cookies?superhero=batman">Get / Set Cookie Demo</a></li>
            </ul>

            <p id="ts-debugging"><strong>Debugging</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/TypeScript/Debugging/SourceMaps">Source Maps</a></li>
            </ul>

            @* <p id="ts-declaration-files"><strong>Declaration Files</strong></p>
                <ul class="list-unstyled">
                    <li><a asp-page="/TypeScript/DeclarationFiles/Basics">Basics</a></li>
                    <li><a asp-page="/TypeScript/DeclarationFiles/InstallingDeclarationFiles">Installing Declaration Files</a></li>
                    <li><a asp-page="/TypeScript/DeclarationFiles/TypeDeclarationExample">Type Declaration Files Example</a></li>
                    <li><a asp-page="/TypeScript/DeclarationFiles/FindingTypeDeclarationFiles">Finding Type Declaration Files</a></li>
                </ul> *@

            <p id="ts-events"><strong>Events</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/TypeScript/Events/ButtonClick">Button Click</a></li>
            </ul>

            <p id="ts-external-files"><strong>External Files</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/TypeScript/External-Files/ExternalReferenceFiles">External and Definition Files</a></li>
            </ul>

            <p id="ts-flow-control"><strong>Flow Control</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/TypeScript/FlowControl/Break">break</a></li>
                <li><a asp-page="/TypeScript/FlowControl/Continue">continue</a></li>
                <li><a asp-page="/TypeScript/FlowControl/If">if</a></li>
                <li><a asp-page="/TypeScript/FlowControl/Loops">loop examples</a></li>
                <li><a asp-page="/TypeScript/FlowControl/NullCheck">null / undefined checks</a></li>
                <li><a asp-page="/TypeScript/FlowControl/Switch">switch case</a></li>
            </ul>

            <p id="ts-forms"><strong>Forms</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/TypeScript/Forms/FormControls">Form Controls</a></li>
                <li><a asp-page="/TypeScript/Forms/GetValuesFromDropDown">Get values from drop down</a></li>
                <li><a asp-page="/TypeScript/Forms/LoopThruFormControls">Loop thru form controls</a></li>
                <li><a asp-page="/TypeScript/Forms/ValidatingNumericInput">Validating Numeric Input</a></li>
            </ul>

            <p id="ts-functions"><strong>Functions</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/TypeScript/Functions/ArrowFunctions">Arrow Functions</a></li>
                <li><a asp-page="/TypeScript/Functions/ArrowFunctionsThis">Arrow Functions 'this'</a></li>
                <li><a asp-page="/TypeScript/Functions/Examples">Function Examples</a></li>
                <li><a asp-page="/TypeScript/Functions/FunctionScopeExample">Function Scope Example</a></li>
                <li><a asp-page="/TypeScript/Functions/FunctionWithDefaultArgumentsVals">Function with default arg values</a></li>
                <li><a asp-page="/TypeScript/Functions/FunctionTypes">Function Types</a></li>
                <li><a asp-page="/TypeScript/Functions/GlobalFunctions">Global Functions</a></li>
                <li><a asp-page="/TypeScript/Functions/Lambdas">Lambdas</a></li>
                <li><a asp-page="/TypeScript/Functions/OptionalArguments">Optional Arguments</a></li>
                <li><a asp-page="/TypeScript/Functions/SimpleArrowsExample">Simple Arrow Functions Example</a></li>
            </ul>

            <p id="ts-html"><strong>Html Elements</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/TypeScript/HtmlElements/Targeting">Targeting Html Elements</a></li>
            </ul>

            <p id="ts-installation"><strong>Installation</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/TypeScript/Installation/InstallingTS">Installing /TypeScript</a></li>
            </ul>

            <p id="ts-interfaces"><strong>Interfaces</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/TypeScript/Interfaces/Basics">Basics</a></li>
                <li><a asp-page="/TypeScript/Interfaces/DuckTyping">Duck Typing</a></li>
                <li><a asp-page="/TypeScript/Interfaces/Employee">Employee Interface Example</a></li>
                <li><a asp-page="/TypeScript/Interfaces/ImplementsVsExtends">Implements vs Extends</a></li>
                <li><a asp-page="/TypeScript/Interfaces/InterfaceClassContractExample">Interface Spaceship Contract Example</a></li>
                <li><a asp-page="/TypeScript/Interfaces/ConfigContractExample">Configuration Contract Example</a></li>
            </ul>

            <p id="ts-keywords"><strong>Keywords</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/TypeScript/Keywords/All">all keywords</a></li>
                <li><a asp-page="/TypeScript/Keywords/Const">const</a></li>
                <li><a asp-page="/TypeScript/Keywords/Declare">declare (Ambient Declarations)</a></li>
                <li><a asp-page="/TypeScript/Keywords/Let">let</a></li>
                <li><a asp-page="/TypeScript/Keywords/Readonly">readonly</a></li>
                <li><a asp-page="/TypeScript/Keywords/Static">static</a></li>
                <li><a asp-page="/TypeScript/Keywords/Super">super</a></li>
            </ul>

            <p id="ts-modules"><strong>Modules</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/TypeScript/modules/Basics">Basics</a></li>
                <li><a asp-page="/TypeScript/modules/Export">export</a></li>
                <li><a asp-page="/TypeScript/modules/ImportRelativeNonRelative">import: relative vs non-relative</a></li>
            </ul>

            <p id="ts-namespaces"><strong>Namespaces</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/TypeScript/namespaces/Namespaces">Namespace Demos</a></li>
            </ul>

            <p id="ts-operators"><strong>Operators</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/TypeScript/Operators/Modulus">Modulus Example</a></li>
                <li><a asp-page="/TypeScript/Operators/NonNullAssertionOperator">Non Null Assertion Operator</a></li>
            </ul>

            <p id="ts-reference"><strong>Reference Files</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/TypeScript/ReferenceFiles/ReferenceFiles">Reference File Demo</a></li>
            </ul>

            <p id="ts-strings"><strong>String</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/TypeScript/Strings/TemplateLiterals">String Template Literals</a></li>
            </ul>

            <p id="ts-types"><strong>Types</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/TypeScript/Types/DataTypeExamples">Data Type Examples</a></li>
                <li><a asp-page="/TypeScript/Types/EnumExamples">Enum Examples</a></li>
                <li><a asp-page="/TypeScript/Types/Primitive">Primitive Types Example</a></li>
                <li><a asp-page="/TypeScript/Types/ReadonlyArray">Readonly Array</a></li>
                <li><a asp-page="/TypeScript/Types/UnionTypes">Union Types</a></li>
            </ul>
        </div>

        <!-- /jQuery -->
        <div class=col-4>
            <div>
                <img src="assets/images/jquery-logo.png" style="max-height: 75px;" />
            </div>

            <p id="jq-ajax"><strong>AJAX</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/jQuery/ajax/Methods">Common Methods</a></li>
                <li><a asp-page="/jQuery/ajax/Ajax">Ajax()</a></li>
                <li><a asp-page="/jQuery/ajax/AjaxAsync">async / await calls</a></li>
                <li><a asp-page="/jQuery/ajax/AjaxGetBlueprint">Ajax GET Blueprint</a></li>
                <li><a asp-page="/jQuery/ajax/AjaxPostBlueprint">Ajax POST Blueprint</a></li>
                <li><a asp-page="/jQuery/ajax/AjaxComplete">ajaxComplete()</a></li>
                <li><a asp-page="/jQuery/ajax/AjaxError">ajaxError()</a></li>
                <li><a asp-page="/jQuery/ajax/AjaxStart">ajaxStart()</a></li>
                <li><a asp-page="/jQuery/ajax/AjaxSuccess">ajaxSuccess()</a></li>
                <li><a asp-page="/jQuery/ajax/Basics">Basics</a></li>
                <li><a asp-page="/jQuery/ajax/Get">get()</a></li>
                <li><a asp-page="/jQuery/ajax/Load">load()</a></li>
                <li><a asp-page="/jQuery/ajax/Post">post()</a></li>
            </ul>

            <p id="jq-basics"><strong>Basics</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/jQuery/basics/AddClassRemoveClass">CSS addClass(), removeClass()</a></li>
                <li><a asp-page="/jQuery/basics/Attr">attr()</a></li>
                <li><a asp-page="/jQuery/basics/Basics">Basics</a></li>
                <li><a asp-page="/jQuery/basics/Chaining">Chaining</a></li>
                <li><a asp-page="/jQuery/basics/GettingSettingCSSProps">getting and setting CSS properties</a></li>
                <li><a asp-page="/jQuery/basics/DocumentReady">Document Ready</a></li>
                <li><a asp-page="/jQuery/basics/HeightWidth">height and width functions</a></li>
                <li><a asp-page="/jQuery/basics/MoreTargetingExamples">More Targeting Examples</a></li>
                <li><a asp-page="/jQuery/basics/Prop">prop()</a></li>
                <li><a asp-page="/jQuery/basics/RemoveAttr">removeAttr()</a></li>
                <li><a asp-page="/jQuery/basics/RemoveProp">removeProp()</a></li>
                <li><a asp-page="/jQuery/basics/Selectors">Selectors</a></li>
                <li><a asp-page="/jQuery/basics/SelectorExamples">Selector Examples</a></li>
            </ul>

            <p id="jq-data"><strong>Data</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/jQuery/data/CustomAttributes">custom attributes</a></li>
            </ul>

            <p id="jq-dom"><strong>DOM</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/jQuery/dom/AppendPrepend">append() / prepend()</a></li>
                <li><a asp-page="/jQuery/dom/Attr">attr()</a></li>
                <li><a asp-page="/jQuery/dom/AttributeFiltering">attribute filtering</a></li>
                <li><a asp-page="/jQuery/dom/BeforeAfter">before() / after()</a></li>
                <li><a asp-page="/jQuery/dom/Clone">clone()</a></li>
                <li><a asp-page="/jQuery/dom/Contains">contains()</a></li>
                <li><a asp-page="/jQuery/dom/Each">each()</a></li>
                <li><a asp-page="/jQuery/dom/Empty">empty()</a></li>
                <li><a asp-page="/jQuery/dom/Eq">eq()</a></li>
                <li><a asp-page="/jQuery/dom/ElementTypeFiltering">element type filtering</a></li>
                <li><a asp-page="/jQuery/dom/Has">has()</a></li>
                <li><a asp-page="/jQuery/dom/Filter">filter()</a></li>
                <li><a asp-page="/jQuery/dom/First">first()</a></li>
                <li><a asp-page="/jQuery/dom/Html">html()</a></li>
                <li><a asp-page="/jQuery/dom/Last">last()</a></li>
                <li><a asp-page="/jQuery/dom/Length">length()</a></li>
                <li><a asp-page="/jQuery/dom/Not">not()</a></li>
                <li><a asp-page="/jQuery/dom/Prop">prop()</a></li>
                <li><a asp-page="/jQuery/dom/Remove">remove()</a></li>
                <li><a asp-page="/jQuery/dom/TableFilterDemos">table filter demos</a></li>
                <li><a asp-page="/jQuery/dom/Text">text()</a></li>
                <li><a asp-page="/jQuery/dom/Val">val()</a></li>
            </ul>

            <p id="jq-effects"><strong>Effects</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/jQuery/effects/Animate">animate()</a></li>
                <li><a asp-page="/jQuery/effects/Fading">fading</a></li>
                <li><a asp-page="/jQuery/effects/ShowHide">show() / hide()</a></li>
                <li><a asp-page="/jQuery/effects/Slide">slide()</a></li>
                <li><a asp-page="/jQuery/effects/Stop">stop()</a></li>
                <li><a asp-page="/jQuery/effects/Toggle">toggle()</a></li>
                <li><a asp-page="/jQuery/effects/ToggleClass">toggleClass()</a></li>
            </ul>

            <p id="jq-traversing"><strong>Events</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/jQuery/events/BlurFocus">blur() / focus()</a></li>
                <li><a asp-page="/jQuery/events/Callback">callback</a></li>
                <li><a asp-page="/jQuery/events/Click">click()</a></li>
                <li><a asp-page="/jQuery/events/DetectingEnterKey">detecting the Enter Key</a></li>
                <li><a asp-page="/jQuery/events/Hover">hover()</a></li>
                <li><a asp-page="/jQuery/events/Keystrokes">keystrokes</a></li>
                <li><a asp-page="/jQuery/events/Mouseover">mouseover()</a></li>
                <li><a asp-page="/jQuery/events/MouseupMousedown">mouseup() / mousedown()</a></li>
                <li><a asp-page="/jQuery/events/MouseEnterMouseLeave">mouseenter() / mouseleave()</a></li>
                <li><a asp-page="/jQuery/events/On">on()</a></li>
                <li><a asp-page="/jQuery/events/OnInput">on input</a></li>
            </ul>

            <p id="jq-forms"><strong>Forms</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/jQuery/forms/GettingValsFromControls">Getting vals from form controls</a></li>
                <li><a asp-page="/jQuery/forms/SettingValsF0rmControls">Setting vals from form controls</a></li>
                <li><a asp-page="/jQuery/forms/CountingItemsInDropDown">Counting items in a drop down</a></li>
                <li><a asp-page="/jQuery/forms/CountingSelectedCheckboxes">Counting selected checkboxes</a></li>
            </ul>

            <p id="jq-ui"><strong>jQuery UI</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/jQuery/jquery-ui/SliderExample">slider example</a></li>
            </ul>

            <p id="jq-ui"><strong>Plug Ins</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/jQuery/plugins/Countdown">Countdown</a></li>
                <li><a asp-page="/jQuery/plugins/CountdownNew">Countdown (new)</a></li>
            </ul>

            <p id="jq-traversing"><strong>Traversing</strong></p>
            <ul class="list-unstyled">
                <li><a asp-page="/jQuery/traversing/Children">children()</a></li>
                <li><a asp-page="/jQuery/traversing/Find">find()</a></li>
                <li><a asp-page="/jQuery/traversing/Next">next()</a></li>
                <li><a asp-page="/jQuery/traversing/Parent">parent()</a></li>
                <li><a asp-page="/jQuery/traversing/Parents">parents()</a></li>
                <li><a asp-page="/jQuery/traversing/ParentsUntil">parentsUntil()</a></li>
                <li><a asp-page="/jQuery/traversing/Prev">prev()</a></li>
                <li><a asp-page="/jQuery/traversing/Siblings">siblings()</a></li>
            </ul>
        </div>
    </div>

</div>

