@page

@using JsPlayground2021.Web.Data.Enums
@using JsPlayground.Pages.Javascript.Window_Object

@model JsPlayground.Pages.Javascript.Window_Object.WindowObjectModel

@{
    string pageId = "Window Object";
    Layout = "~/Pages/Shared/_PageLayout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {JavaScript}
@section PageName {@pageId}

@section Menu
{
    <partial name="_MenuContainer" model="MenuType.Javascipt" />
}


<p>
    The window object is supported by all browsers. It represents the browser's window. All global JavaScript objects,
    functions, and variables automatically become members of the window object.
</p>

<ul>
    <li>Global variables are properties of the window object.</li>
    <li>Global functions are methods of the window object.</li>
</ul>

<p>
    Even the document object (of the HTML DOM) is a property of the window object:
</p>

<pre>
<code>
window.document.getElementById("header");
....is the same as...
document.getElementById("header");
</code>
</pre>

<p>&nbsp;</p>

<p>&nbsp;</p>


@section Scripts
{
}
