@page

@using JsPlayground2021.Web.Data.Enums

@model JsPlayground.Pages.TypeScript.Interfaces.ImplementsVsExtendsModel

@{
    string pageId = "Implements versus Extends";
    Layout = "~/Pages/Shared/_PageLayout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {TypeScript}
@section PageName {@pageId}

@section Menu
{
        <partial name="_MenuContainer" model="MenuType.TypeScript" />
}

<p>
    <strong>Implements</strong>: Used with Interfaces and Classes.  A Class <code>implements</code> a <code>interface</code>.<br />
    <em>This is <strong>defined</strong> by that.</em>
</p>

<p><code>class Employee implements IPerson</code></p>

<p>&nbsp;</p>

<p>
    <strong>Extends</strong>: Used with Abstract Classes and derived Classes.
    A derived Class <code>extends</code> an <code>abstract</code> class. <br />
    <em>This <strong>includes</strong> all of that ....and maybe more.</em>
</p>

<p><code>class Dog extends Animal</code></p>

<p>&nbsp;</p>


