@page

@using JsPlayground2021.Web.Data.Enums
@using JsPlayground.Pages.Javascript.Functions

@model JsPlayground.Pages.Javascript.Functions.IIFEFunctionsModel


@{
    string pageId = "IIFE Functions";
    Layout = "~/Pages/Shared/_PageLayout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {JavaScript}
@section PageName {@pageId}

@section Menu
{
    <partial name="_MenuContainer" model="MenuType.Javascipt" />
}

<p>
    An <q>IIFE</q> function is a self-invoking function. See <a href="SelfInvokingFunctions">Self Invoking Functions</a>.
    You may commonly see or use code like this: <a href="~/assets/javascripts/self-invoking-function-example.js" target="_blank">self-invoking-function-example.js</a>.
</p>

<h5 class="text-center text-info my-5">IIFE: Immediately Invoked Function Expression</h5>

<p>
    A self-invoking expression is invoked (started) automatically, without being called.
    You have to add parentheses around the function to indicate that it is a function expression.
</p>

<p>
    Notice that we do not have access to <code>_defaultMsg</code>.  It is protected by the anonymous functions scope.
</p>

<p class="text-center">
    <img src="~/assets/images/self-invoking.function.png" />
</p>

<pre>
<code>
(function ()
{
    "use strict";

    let _msg = null;
    let _defaultMsg = "Hello World";

    console.log("SelfInvokingExample invoked");

    const Initialize = (msg) =>
    {
        _msg = msg;
    };

    const GreetingAlert = () =>
    {
        alert(_msg);
    };

    const GreetingConsole = () =>
    {
        console.log(`Greeting Msg: ${_msg}.`);
    };

    return {
        Initialize: Initialize,
        GreetingAlert: GreetingAlert,
        GreetingConsole: GreetingConsole
    }
})();
</code>
</pre>

<p>&nbsp;</p>


@section Scripts
{
    <script src="~/assets/javascripts/self-invoking-function-example.js"></script>
    <script>

        console.log(_defaultMsg);

                //$(function()
                //{
                //    SelfInvokingExample.Initialize("Hello World");
                //});
    </script>
}
