@page

@using JsPlayground2021.Web.Data.Enums
@using JsPlayground.Pages.Javascript.Objects

@model JsPlayground.Pages.Javascript.Objects.ObjectLiteralsModel

@{
    string pageId = "Object Literals";
    Layout = "~/Pages/Shared/_PageLayout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {JavaScript}
@section PageName {@pageId}

@section Menu
{
    <partial name="_MenuContainer" model="MenuType.Javascipt" />
}

<p>
    When you define an object "hard-coded style" (object literal), you can do a few things.
</p>

<pre>
<code>
let mystery = "SecretToLife";

let Spaceship =
{
Designation : "NCC-1701",
Name : "Enterprise",
CalculateSpeed() {return 100; },
CalculateCrew: (crew) => { return crew * 1; },

// note the name of this property is set elsewhere!
// this is known as a dynamic property.
[mystery] : 42
};
</code>
</pre>

<div class="card text-white bg-info mt-2">
    <div class="card-body">
        <div id="demo1"></div>
        <div id="demo2"></div>
    </div>
</div>

<p>&nbsp;</p>

<script src="/assets/javascripts/pages/javascript/object-literals.js" asp-append-version="true"></script>

@section Scripts
{
}
