@page

@model JsPlayground.Pages.Javascript.Types.TypeOfModel

@{
    string pageId = "TypeOf";
    Layout = "~/Pages/Shared/_PageLayout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {JavaScript}
@section PageName {@pageId}

@section Menu
{
    <partial name="_JavaScriptMenu" />
}

<p>You can use the JavaScript <code>typeof</code> operator to find the type of a JavaScript variable.</p>

<pre>
<code>
// look at the console
console.log(typeof "john");
console.log(typeof 3.14);
console.log(typeof false);
console.log(typeof [1, 2, 3, 4]);
console.log(typeof { name: 'john', age: 34 });
</code>
</pre>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

@section Scripts
{
    <script>
        console.log(typeof "john");
        console.log(typeof 3.14);
        console.log(typeof false);
        console.log(typeof [1, 2, 3, 4]);
        console.log(typeof { name: 'john', age: 34 });
    </script>
}
