@using JsPlayground2021.Web.Data.ViewModels

@model QuoteModel

<figure class="text-center">
  <blockquote class="blockquote">
    <p>@Model.Quote</p>
  </blockquote>
  <figcaption class="blockquote-footer">
        @Model.Author
  </figcaption>
</figure>