@page

@using JsPlayground2021.Web.Data.Enums

@model JsPlayground.Pages.TypeScript.Types.DataTypeExamplesModel

@{
    string pageId = "Data Type Examples";
    Layout = "~/Pages/Shared/_PageLayout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {TypeScript}
@section PageName {@pageId}

@section Menu
{
        <partial name="_MenuContainer" model="MenuType.TypeScript" />
}

<pre>
<code>
var age : number = 48;
var name : string = “Ricky Bobby”;
var isFast : boolean = true;
var names : string[] = [“Ricky, Bobby”];
var firstPerson : string = name [0];

var isSpaceship = function(){... logic here… return results;};
</code>
</pre>

<p>&nbsp;</p>
