@page

@using JsPlayground2021.Web.Data.Enums

@model JsPlayground.Pages.TypeScript.Events.ButtonClickModel

@{
    string pageId = "Button Click";
    Layout = "~/Pages/Shared/_PageLayout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {TypeScript}
@section PageName {@pageId}

@section Menu
{
        <partial name="_MenuContainer" model="MenuType.TypeScript" />
}
<p>
    &nbsp;
</p>

<div class="card bg-light mt-5">
    <div class="card-body">
        <div id="results-label" class="text-success"></div>
        <div><button id="ClickDemoButton" class="btn btn-primary mt-3">Click me</button></div>
    </div>
</div>

@section Scripts
{
    <script src="/assets/javascripts/compiled/events/events.js"></script>
}
