@using JsPlayground2021.Web.Pages.ViewHelpers

<footer class="border-top footer text-muted">
    <div class="container">
        <p class="my-5 text-center">@Html.Raw(ViewHelpers.GenerateFooter())</p>
    </div>
</footer>
