<p id="js-animations" class="mb-0"><strong>Animations</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/JavaScript/Animation/BasicExample">Basic Example</a></li>
</ul>

<p id="js-api" class="mb-0"><strong>API</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/JavaScript/API/GoogleMaps">Google Maps</a></li>
    <li><a class="text-white" asp-page="/JavaScript/API/ValidationApi">Validation API</a></li>
    <li><a class="text-white" asp-page="/JavaScript/API/ValidationApiExample2">Validation API Example</a></li>
</ul>

<p id="js-arrays" class="mb-0"><strong>Arrays</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/Arrays/ArrayMethods">Array Methods</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/ArrayAddingUsingLength">Array Add Using length()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/ArrayProperties">Array Properties</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/Basics">Basics</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/GetValsFromArray">Get values examples</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/Concat">concat()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/Destructuring">destructuring</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/Fill">fill()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/Filter">filter()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/Find">find()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/ForEach">foreach()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/Includes">includes()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/IndexOf">indexOf()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/IsArray">isArray()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/Join">join()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/Map">map()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/Pop">pop()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/Push">push()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/Reduce">reduce()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/Reverse">reverse()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/Shift">shift()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/Slice">slice()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/Some">some()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/Sort">sort()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/Splice">splice()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/Spread">Spread</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/ToString">toString()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Arrays/ValueOf">valueOf()</a></li>
</ul>

<p id="js-async" class="mb-0"><strong>Async</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/async/Basics">Basics</a></li>
    <li><a class="text-white" asp-page="/Javascript/async/Fetch">fetch()</a></li>
    <li><a class="text-white" asp-page="/Javascript/async/Await">await</a></li>
</ul>

<p id="js-basics" class="mb-0"><strong>Basics</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/Basics/Basics">Basics</a></li>
    <li><a class="text-white" asp-page="/Javascript/Basics/BestPractices">Best Practices</a></li>
    <li><a class="text-white" asp-page="/Javascript/Basics/BreakReferenceLabel">Break Reference Label</a></li>
    <li><a class="text-white" asp-page="/Javascript/Basics/CommonDomProperties">Common DOM Properties</a></li>
    <li><a class="text-white" asp-page="/Javascript/Basics/ConstructorProperty">Constructor Property</a></li>
    <li><a class="text-white" asp-page="/Javascript/Basics/Defer">Defer</a></li>
    <li><a class="text-white" asp-page="/Javascript/Basics/EscapeCharacters">Escape Characters</a></li>
    <li><a class="text-white" asp-page="/Javascript/Basics/Keywords">Keywords</a></li>
    <li><a class="text-white" asp-page="/Javascript/Basics/Operators">Operators</a></li>
    <li><a class="text-white" asp-page="/Javascript/Basics/Regions">Regions</a></li>
    <li><a class="text-white" asp-page="/Javascript/Basics/Scopes">Scopes</a></li>
    <li><a class="text-white" asp-page="/Javascript/Basics/Ternary">Ternary Operator</a></li>
    <li><a class="text-white" asp-page="/Javascript/Basics/TruthyFalsy">Truthy &amp; Falsy</a></li>
    <li><a class="text-white" asp-page="/Javascript/Basics/ValueOf">Value Of</a></li>
    <li><a class="text-white" asp-page="/Javascript/Basics/VSCode">VS Code</a></li>
</ul>

<p id="js-challenges" class="mb-0"><strong>Challenges</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/Challenges/EvenNumbers">even numbers using map()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Challenges/AggregateArray">Aggregate Array</a></li>
</ul>

<p id="js-classes" class="mb-0"><strong>Classes</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/Classes/Basics">Basics</a></li>
</ul>

<p id="js-console"><strong>Console</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/Console/Examples">Console Examples</a></li>
</ul>

<p id="js-dates" class="mb-0"><strong>Dates</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/Dates/Formats">Date Formats</a></li>
    <li><a class="text-white" asp-page="/Javascript/Dates/GetMethods">Date Get Methods</a></li>
    <li><a class="text-white" asp-page="/Javascript/Dates/Methods">Date Methods</a></li>
    <li><a class="text-white" asp-page="/Javascript/Dates/SetMethods">Date Set Methods</a></li>
    <li><a class="text-white" asp-page="/Javascript/Dates/NewDate">Instantiating New Date</a></li>
    <li><a class="text-white" asp-page="/Javascript/Dates/TimeZones">Time Zones</a></li>
    <li><a class="text-white" asp-page="/Javascript/Dates/ConvertingUTCToLocal">Converting UTC to Local</a></li>
</ul>

<p id="js-debugging" class="mb-0"><strong>Debugging</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/Debugging/Basics">Basics</a></li>
    <li><a class="text-white" asp-page="/Javascript/Debugging/Console">Console</a></li>
    <li><a class="text-white" asp-page="/Javascript/Debugging/Debugger">Debugger</a></li>
    <li><a class="text-white" asp-page="/Javascript/Debugging/Strict">Strict Mode</a></li>
    <li><a class="text-white" asp-page="/Javascript/Debugging/TryCatch">Try Catch</a></li>
</ul>

<p id="js-dom-elements" class="mb-0"><strong>DOM Elements</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/DOMElements/Accessing">Accessing DOM Elements</a></li>
    <li><a class="text-white" asp-page="/Javascript/DOMElements/Adding">Adding DOM Elements</a></li>
    <li><a class="text-white" asp-page="/Javascript/DOMElements/Deleting">Deleting DOM Elements</a></li>
</ul>

<p id="js-dom-methods" class="mb-0"><strong>DOM Methods</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/DOMMethods/Methods">common methods</a></li>
    <li><a class="text-white" asp-page="/Javascript/DOMMethods/DocumentReady">document ready</a></li>
    <li><a class="text-white" asp-page="/Javascript/DOMMethods/GetElementByClass">getElementByClassName()</a></li>
    <li><a class="text-white" asp-page="/Javascript/DOMMethods/GetElementById">getElementById()</a></li>
    <li><a class="text-white" asp-page="/Javascript/DOMMethods/GetElementByTag">getElementByTagName()</a></li>
    <li><a class="text-white" asp-page="/Javascript/DOMMethods/QuerySelector">querySelectorAll()</a></li>
    <li><a class="text-white" asp-page="/Javascript/DOMMethods/SetAttribute">setAttribute()</a></li>
</ul>

<p id="js-dom-navigation" class="mb-0"><strong>DOM Navigation</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/DOMNavigation/Basics">Basics</a></li>
    <li><a class="text-white" asp-page="/Javascript/DOMNavigation/ChildNodes">child nodes</a></li>
    <li><a class="text-white" asp-page="/Javascript/DOMNavigation/Children">children</a></li>
    <li><a class="text-white" asp-page="/Javascript/DOMNavigation/CreateNewNodes">create new nodes</a></li>
    <li><a class="text-white" asp-page="/Javascript/DOMNavigation/RemoveChild">remove child</a></li>
    <li><a class="text-white" asp-page="/Javascript/DOMNavigation/ReplaceChild">replace child</a></li>
    <li><a class="text-white" asp-page="/Javascript/DOMNavigation/RootNodes">root nodes</a></li>
</ul>

<p id="js-dom-properties" class="mb-0"><strong>DOM Properties</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/DOMProperties/ChangingProperties">Changing Properties</a></li>
    <li><a class="text-white" asp-page="/Javascript/DOMProperties/CookieProperty">Cookie Property</a></li>
    <li><a class="text-white" asp-page="/Javascript/DOMProperties/InnerhtmlInnertext">innerHTML and innerText</a></li>
</ul>

<p id="js-dom-events" class="mb-0"><strong>Event Listeners</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/Events/AddEventListener">addEventListener</a></li>
    <li><a class="text-white" asp-page="/Javascript/Events/AddEventListenerToMultipleTags">addEventListener to multiple tags</a></li>
    <li><a class="text-white" asp-page="/Javascript/Events/OnChange">onchange</a></li>
    <li><a class="text-white" asp-page="/Javascript/Events/OnClick">onclick</a></li>
    <li><a class="text-white" asp-page="/Javascript/Events/Events">Events</a></li>
    <li><a class="text-white" asp-page="/Javascript/Events/OnMouseoverOnMouseout">onmouseover - onmouseout</a></li>
    <li><a class="text-white" asp-page="/Javascript/Events/OnMouseupOnMousedown">onmouseup - onmousedown</a></li>
    <li><a class="text-white" asp-page="/Javascript/Events/OnclickVsClick">onclick vs click</a></li>
    <li><a class="text-white" asp-page="/Javascript/Events/OnBlurOnFocus">onblur - onfocus</a></li>
    <li><a class="text-white" asp-page="/Javascript/Events/Onload">onload</a></li>
    <li><a class="text-white" asp-page="/Javascript/Events/OnUnload">onunload</a></li>
    <li><a class="text-white" asp-page="/Javascript/Events/PreventDefault">preventDefault</a></li>
</ul>

<p id="js-flow-control" class="mb-0"><strong>Flow Control</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/FlowControl/ForLoops">for loops (various)</a></li>
    <li><a class="text-white" asp-page="/Javascript/FlowControl/WhileLoops">while loops (various)</a></li>
</ul>

<p id="js-forms" class="mb-0"><strong>Forms</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/Forms/LoopThruFormControls">Loop thru form controls</a></li>
    <li><a class="text-white" asp-page="/Javascript/Forms/PreventDefault">preventDefault()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Forms/SettingFormControls">Setting form controls</a></li>
</ul>

<p id="js-functions" class="mb-0"><strong>Functions</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/Functions/AnonymousFunctions">Anonymous Functions</a></li>
    <li><a class="text-white" asp-page="/Javascript/Functions/Arguments">Arguments</a></li>
    <li><a class="text-white" asp-page="/Javascript/Functions/ArrowFunctions">Arrow Functions</a></li>
    <li><a class="text-white" asp-page="/Javascript/Functions/FunctionsAreObjects">Functions are objects</a></li>
    <li><a class="text-white" asp-page="/Javascript/Functions/FunctionExpressions">Function Expressions</a></li>
    <li><a class="text-white" asp-page="/Javascript/Functions/IIFEFunctions">"IIFE" Functions</a></li>
    <li><a class="text-white" asp-page="/Javascript/Functions/InvokingVsCalling">Invoking vs Calling</a></li>
    <li><a class="text-white" asp-page="/Javascript/Functions/ReferenceExample">Reference Example</a></li>
    <li><a class="text-white" asp-page="/Javascript/Functions/RecursiveVsNonrecursive">Recursive vs Non Recursive</a></li>
    <li><a class="text-white" asp-page="/Javascript/Functions/ScopeOfArrowFunctions">Scope of Arrow Functions</a></li>
    <li><a class="text-white" asp-page="/Javascript/Functions/SelfInvokingFunctions">Self Invoking Functions</a></li>
</ul>

<p id="js-global-functions" class="mb-0"><strong>Global Functions</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/GlobalFunctions/Boolean">Boolean()</a></li>
    <li><a class="text-white" asp-page="/Javascript/GlobalFunctions/CommonFunctions">Common Global Functions</a></li>
    <li><a class="text-white" asp-page="/Javascript/GlobalFunctions/EncodeuriDecodeuri">encodeUri() - decodeUri()</a></li>
    <li><a class="text-white" asp-page="/Javascript/GlobalFunctions/Eval">eval()</a></li>
    <li><a class="text-white" asp-page="/Javascript/GlobalFunctions/IsNan">IsNan()</a></li>
    <li><a class="text-white" asp-page="/Javascript/GlobalFunctions/Number">Number()</a></li>
    <li><a class="text-white" asp-page="/Javascript/GlobalFunctions/ParseFloat">parseFloat()</a></li>
    <li><a class="text-white" asp-page="/Javascript/GlobalFunctions/ParseInt">parseInt()</a></li>
    <li><a class="text-white" asp-page="/Javascript/GlobalFunctions/TypeConversions">Type conversions</a></li>
</ul>

<p id="js-json" class="mb-0"><strong>JSON</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/JSON/Basics">Basics</a></li>
    <li><a class="text-white" asp-page="/Javascript/JSON/Parse">JSON.parse()</a></li>
    <li><a class="text-white" asp-page="/Javascript/JSON/Stringify">JSON.stringify()</a></li>
</ul>

<p id="js-keywords" class="mb-0"><strong>Keywords</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/Keywords/Const">const</a></li>
    <li><a class="text-white" asp-page="/Javascript/Keywords/Return">return</a></li>
    <li><a class="text-white" asp-page="/Javascript/Keywords/This">this</a></li>
</ul>

<p id="js-libraries" class="mb-0"><strong>Libraries (3rd party)</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/Libraries/Shuffle">shuffle()</a></li>
</ul>

<p id="js-math" class="mb-0"><strong>Math</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/Math/CommonMathFunctions">Common Math Functions</a></li>
    <li><a class="text-white" asp-page="/Javascript/Math/Floor">floor()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Math/MinMax">min() / max()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Math/Random">random()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Math/Round">round()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Math/ToFixed">toFixed()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Math/ToPrecision">toPrecision()</a></li>
</ul>

<p id="js-modules" class="mb-0"><strong>Modules</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/Modules/Basics">Modules Basics</a></li>
    <li><a class="text-white" asp-page="/Javascript/Modules/NamedExports">Named Exports</a></li>
    <li><a class="text-white" asp-page="/Javascript/Modules/ExportDefault">Export Default</a></li>
    <li><a class="text-white" asp-page="/Javascript/Modules/ExportDefault">Aggregating Exports</a></li>
    <li><a class="text-white" asp-page="/Javascript/Modules/Importing">Importing</a></li>
    <li><a class="text-white" asp-page="/Javascript/Modules/ModuleDemo">Module Demo</a></li>
</ul>

<p id="js-objects" class="mb-0"><strong>Objects</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/Objects/AddingDeletingProperties">Adding / Deleting Object Properties</a></li>
    <li><a class="text-white" asp-page="/Javascript/Objects/Assign">Assign (cloning)</a></li>
    <li><a class="text-white" asp-page="/Javascript/Objects/BuiltInConstructors">Built In Constructors</a></li>
    <li><a class="text-white" asp-page="/Javascript/Objects/CreatingNewObject">Creating a new Object</a></li>
    <li><a class="text-white" asp-page="/Javascript/Objects/ComparingObjects">Comparing Objects</a></li>
    <li><a class="text-white" asp-page="/Javascript/Objects/Constructors">Constructors</a></li>
    <li><a class="text-white" asp-page="/Javascript/Objects/DeleteAProperty">Delete A Property</a></li>
    <li><a class="text-white" asp-page="/Javascript/Objects/DestructuringSpreading">Destructuring and Spreading</a></li>
    <li><a class="text-white" asp-page="/Javascript/Objects/FunctionsInObjects">Functions in Objects</a></li>
    <li><a class="text-white" asp-page="/Javascript/Objects/LoopingThruProperties">Looping Thru Properties</a></li>
    <li><a class="text-white" asp-page="/Javascript/Objects/ObjectLiterals">Object Literals</a></li>
    <li><a class="text-white" asp-page="/Javascript/Objects/Properties">Properties</a></li>
</ul>

<p id="js-snippets" class="mb-0"><strong>Snippets</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/Snippets/IsDate">IsDate</a></li>
    <li><a class="text-white" asp-page="/Javascript/Snippets/IsNumeric">IsNumeric</a></li>
    <li><a class="text-white" asp-page="/Javascript/Snippets/LeftPad">LeftPad</a></li>
</ul>

<p id="js-strings" class="mb-0"><strong>String</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/Strings/CharAt">charAt() / charCodeAt()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Strings/IndexOf">indexOf()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Strings/LastIndexOf">lastIndexOf()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Strings/Length">length</a></li>
    <li><a class="text-white" asp-page="/Javascript/Strings/RegexBasics">RegEx Basics</a></li>
    <li><a class="text-white" asp-page="/Javascript/Strings/RegexExample">RegEx Example</a></li>
    <li><a class="text-white" asp-page="/Javascript/Strings/RegexPatterns">RegEx Patterns</a></li>
    <li><a class="text-white" asp-page="/Javascript/Strings/Match">match()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Strings/Replace">replace()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Strings/Search">search()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Strings/Slice">slice()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Strings/Split">split()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Strings/TemplateLiterals">String Template Literals</a></li>
    <li><a class="text-white" asp-page="/Javascript/Strings/SubString">substring()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Strings/ToString">toString()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Strings/ToUpperCaseToLowerCase">toUpperCase() / toLowerCase()</a></li>
</ul>

<p id="js-types" class="mb-0"><strong>Types</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/Types/DataTypes">data types</a></li>
    <li><a class="text-white" asp-page="/Javascript/Types/Number">number</a></li>
    <li><a class="text-white" asp-page="/Javascript/Types/TypeOf">typeof</a></li>
</ul>

<p id="js-types"><strong>Widgets</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/Widgets/DailyEarningsClock">Daily Earnings Clock</a></li>
</ul>

<p id="js-window" class="mb-0"><strong>Window Object</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/Javascript/Window-Object/BrowserObjectModel">Browser Object Model</a></li>
    <li><a class="text-white" asp-page="/Javascript/Window-Object/Methods">Common Methods</a></li>
    <li><a class="text-white" asp-page="/Javascript/Window-Object/History">History Object</a></li>
    <li><a class="text-white" asp-page="/Javascript/Window-Object/LocalStorage">Local Storage</a></li>
    <li><a class="text-white" asp-page="/Javascript/Window-Object/Location">Location Object</a></li>
    <li><a class="text-white" asp-page="/Javascript/Window-Object/Navigator">Navigator Object</a></li>
    <li><a class="text-white" asp-page="/Javascript/Window-Object/PopUps">PopUps</a></li>
    <li><a class="text-white" asp-page="/Javascript/Window-Object/SetInterval">setInterval() / clearInterval()</a></li>
    <li><a class="text-white" asp-page="/Javascript/Window-Object/SetTimeout">setTimeout() / clearTimeout() REDO THIS</a></li>
    <li><a class="text-white" asp-page="/Javascript/Window-Object/InnerHeightInnerWidth">Window Inner Height / Inner Width</a></li>
    <li><a class="text-white" asp-page="/Javascript/Window-Object/WindowObject">Window Object</a></li>
    <li><a class="text-white" asp-page="/Javascript/Window-Object/WindowScreen">Window Screen Object</a></li>
</ul>
