<p id="jq-ajax" class="mb-0"><strong>AJAX</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/jQuery/ajax/Methods">Common Methods</a></li>
    <li><a class="text-white" asp-page="/jQuery/ajax/Ajax">Ajax()</a></li>
    <li><a class="text-white" asp-page="/jQuery/ajax/AjaxAsync">async / await calls</a></li>
    <li><a class="text-white" asp-page="/jQuery/ajax/AjaxGetBlueprint">Ajax GET Blueprint</a></li>
    <li><a class="text-white" asp-page="/jQuery/ajax/AjaxPostBlueprint">Ajax POST Blueprint</a></li>
    <li><a class="text-white" asp-page="/jQuery/ajax/AjaxComplete">ajaxComplete()</a></li>
    <li><a class="text-white" asp-page="/jQuery/ajax/AjaxError">ajaxError()</a></li>
    <li><a class="text-white" asp-page="/jQuery/ajax/AjaxStart">ajaxStart()</a></li>
    <li><a class="text-white" asp-page="/jQuery/ajax/AjaxSuccess">ajaxSuccess()</a></li>
    <li><a class="text-white" asp-page="/jQuery/ajax/Basics">Basics</a></li>
    <li><a class="text-white" asp-page="/jQuery/ajax/Get">get()</a></li>
    <li><a class="text-white" asp-page="/jQuery/ajax/Load">load()</a></li>
    <li><a class="text-white" asp-page="/jQuery/ajax/Post">post()</a></li>
</ul>

<p id="jq-basics" class="mb-0"><strong>Basics</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/jQuery/basics/AddClassRemoveClass">CSS addClass(), removeClass()</a></li>
    <li><a class="text-white" asp-page="/jQuery/basics/Attr">attr()</a></li>
    <li><a class="text-white" asp-page="/jQuery/basics/Basics">Basics</a></li>
    <li><a class="text-white" asp-page="/jQuery/basics/Chaining">Chaining</a></li>
    <li><a class="text-white" asp-page="/jQuery/basics/GettingSettingCSSProps">getting and setting CSS properties</a></li>
    <li><a class="text-white" asp-page="/jQuery/basics/DocumentReady">Document Ready</a></li>
    <li><a class="text-white" asp-page="/jQuery/basics/HeightWidth">height and width functions</a></li>
    <li><a class="text-white" asp-page="/jQuery/basics/MoreTargetingExamples">More Targeting Examples</a></li>
    <li><a class="text-white" asp-page="/jQuery/basics/Prop">prop()</a></li>
    <li><a class="text-white" asp-page="/jQuery/basics/RemoveAttr">removeAttr()</a></li>
    <li><a class="text-white" asp-page="/jQuery/basics/RemoveProp">removeProp()</a></li>
    <li><a class="text-white" asp-page="/jQuery/basics/Selectors">Selectors</a></li>
    <li><a class="text-white" asp-page="/jQuery/basics/SelectorExamples">Selector Examples</a></li>
</ul>

<p id="jq-data" class="mb-0"><strong>Data</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/jQuery/data/CustomAttributes">custom attributes</a></li>
</ul>

<p id="jq-dom" class="mb-0"><strong>DOM</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/jQuery/dom/AppendPrepend">append() / prepend()</a></li>
    <li><a class="text-white" asp-page="/jQuery/dom/Attr">attr()</a></li>
    <li><a class="text-white" asp-page="/jQuery/dom/AttributeFiltering">attribute filtering</a></li>
    <li><a class="text-white" asp-page="/jQuery/dom/BeforeAfter">before() / after()</a></li>
    <li><a class="text-white" asp-page="/jQuery/dom/Clone">clone()</a></li>
    <li><a class="text-white" asp-page="/jQuery/dom/Contains">contains()</a></li>
    <li><a class="text-white" asp-page="/jQuery/dom/Each">each()</a></li>
    <li><a class="text-white" asp-page="/jQuery/dom/Empty">empty()</a></li>
    <li><a class="text-white" asp-page="/jQuery/dom/Eq">eq()</a></li>
    <li><a class="text-white" asp-page="/jQuery/dom/ElementTypeFiltering">element type filtering</a></li>
    <li><a class="text-white" asp-page="/jQuery/dom/Has">has()</a></li>
    <li><a class="text-white" asp-page="/jQuery/dom/Filter">filter()</a></li>
    <li><a class="text-white" asp-page="/jQuery/dom/First">first()</a></li>
    <li><a class="text-white" asp-page="/jQuery/dom/Html">html()</a></li>
    <li><a class="text-white" asp-page="/jQuery/dom/Last">last()</a></li>
    <li><a class="text-white" asp-page="/jQuery/dom/Length">length()</a></li>
    <li><a class="text-white" asp-page="/jQuery/dom/Not">not()</a></li>
    <li><a class="text-white" asp-page="/jQuery/dom/Prop">prop()</a></li>
    <li><a class="text-white" asp-page="/jQuery/dom/Remove">remove()</a></li>
    <li><a class="text-white" asp-page="/jQuery/dom/TableFilterDemos">table filter demos</a></li>
    <li><a class="text-white" asp-page="/jQuery/dom/Text">text()</a></li>
    <li><a class="text-white" asp-page="/jQuery/dom/Val">val()</a></li>
</ul>

<p id="jq-effects" class="mb-0"><strong>Effects</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/jQuery/effects/Animate">animate()</a></li>
    <li><a class="text-white" asp-page="/jQuery/effects/Fading">fading</a></li>
    <li><a class="text-white" asp-page="/jQuery/effects/ShowHide">show() / hide()</a></li>
    <li><a class="text-white" asp-page="/jQuery/effects/Slide">slide()</a></li>
    <li><a class="text-white" asp-page="/jQuery/effects/Stop">stop()</a></li>
    <li><a class="text-white" asp-page="/jQuery/effects/Toggle">toggle()</a></li>
    <li><a class="text-white" asp-page="/jQuery/effects/ToggleClass">toggleClass()</a></li>
</ul>

<p id="jq-traversing" class="mb-0"><strong>Events</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/jQuery/events/BlurFocus">blur() / focus()</a></li>
    <li><a class="text-white" asp-page="/jQuery/events/Callback">callback</a></li>
    <li><a class="text-white" asp-page="/jQuery/events/Click">click()</a></li>
    <li><a class="text-white" asp-page="/jQuery/events/DetectingEnterKey">detecting the Enter Key</a></li>
    <li><a class="text-white" asp-page="/jQuery/events/Hover">hover()</a></li>
    <li><a class="text-white" asp-page="/jQuery/events/Keystrokes">keystrokes</a></li>
    <li><a class="text-white" asp-page="/jQuery/events/Mouseover">mouseover()</a></li>
    <li><a class="text-white" asp-page="/jQuery/events/MouseupMousedown">mouseup() / mousedown()</a></li>
    <li><a class="text-white" asp-page="/jQuery/events/MouseEnterMouseLeave">mouseenter() / mouseleave()</a></li>
    <li><a class="text-white" asp-page="/jQuery/events/On">on()</a></li>
    <li><a class="text-white" asp-page="/jQuery/events/OnInput">on input</a></li>
</ul>

<p id="jq-forms" class="mb-0"><strong>Forms</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/jQuery/forms/GettingValsFromControls">Getting vals from form controls</a></li>
    <li><a class="text-white" asp-page="/jQuery/forms/SettingValsFormControls">Setting vals in form controls</a></li>
    <li><a class="text-white" asp-page="/jQuery/forms/CountingItemsInDropDown">Counting items in a drop down</a></li>
    <li><a class="text-white" asp-page="/jQuery/forms/CountingSelectedCheckboxes">Counting selected checkboxes</a></li>
</ul>

<p id="jq-ui" class="mb-0"><strong>jQuery UI</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/jQuery/jquery-ui/SliderExample">slider example</a></li>
</ul>

<p id="jq-ui" class="mb-0"><strong>Plug Ins</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/jQuery/plugins/Countdown">Countdown</a></li>
    <li><a class="text-white" asp-page="/jQuery/plugins/CountdownNew">Countdown (new)</a></li>
</ul>

<p id="jq-traversing" class="mb-0"><strong>Traversing</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/jQuery/traversing/Children">children()</a></li>
    <li><a class="text-white" asp-page="/jQuery/traversing/Find">find()</a></li>
    <li><a class="text-white" asp-page="/jQuery/traversing/Next">next()</a></li>
    <li><a class="text-white" asp-page="/jQuery/traversing/Parent">parent()</a></li>
    <li><a class="text-white" asp-page="/jQuery/traversing/Parents">parents()</a></li>
    <li><a class="text-white" asp-page="/jQuery/traversing/ParentsUntil">parentsUntil()</a></li>
    <li><a class="text-white" asp-page="/jQuery/traversing/Prev">prev()</a></li>
    <li><a class="text-white" asp-page="/jQuery/traversing/Siblings">siblings()</a></li>
</ul>
