<p id="ts-basics" class="mb-0"><strong>Basics</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/TypeScript/Basics/AccessModifiers">Access Modifiers</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Basics/BasicConcepts">Basic Concepts</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Basics/BuildTask">Build Task</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Basics/CompilingManually">Compiling Manually</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Basics/CreatingPaths">Creating Paths</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Basics/Hierarchy">Hierarchy</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Basics/HttpServer">http-server</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Basics/PackageJson">package.json</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Basics/SimpleExample">Simple Example</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Basics/TSConfig">tsconfig.json - the /TypeScript project file</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Basics/MultipleTSConfigFiles">tsconfig.json - multiple files</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Basics/StrictNullChecks">Strict Null Checks</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Basics/TypeAnnotations">Type Annotations</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Basics/TypeAssertions">Type Assertions</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Basics/TypeScriptFeatures">TypeScript features</a></li>
</ul>

<p id="ts-challenges" class="mb-0"><strong>Challenges</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/TypeScript/Challenges/DropDowns">Drop Down List Challenge</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Challenges/EqualDivision">Equal Division Challenge</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Challenges/Fibonacci">Fibonacci Challenge</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Challenges/PrimeNumbers">Prime Numbers Challenge</a></li>
</ul>

<p id="ts-classes" class="mb-0"><strong>Classes</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/TypeScript/Classes/AbstractClasses">Abstract Classes</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Classes/Basics">Basics and Features</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Classes/Car">Car Class Demo</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Classes/Fields">Class Fields</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Classes/ClassProperties">Class Properties</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Classes/Constructors">Constructors</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Classes/Extends">Inheritance (extends) Demo</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Classes/FunctionAsClassProperty">Function as Class Property</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Classes/InstantiatingNewObjects">instantiating new objects</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Classes/Spaceship">Spaceship Class Blueprint Demo</a></li>
</ul>

<p id="ts-cookies" class="mb-0"><strong>Cookies</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/TypeScript/Cookies/Cookies?superhero=batman">Get / Set Cookie Demo</a></li>
</ul>

<p id="ts-debugging" class="mb-0"><strong>Debugging</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/TypeScript/Debugging/SourceMaps">Source Maps</a></li>
</ul>

@* <p id="ts-declaration-files"><strong>Declaration Files</strong></p>
    <ul class="list-unstyled">
        <li><a class="text-white" asp-page="/TypeScript/DeclarationFiles/Basics">Basics</a></li>
        <li><a class="text-white" asp-page="/TypeScript/DeclarationFiles/InstallingDeclarationFiles">Installing Declaration Files</a></li>
        <li><a class="text-white" asp-page="/TypeScript/DeclarationFiles/TypeDeclarationExample">Type Declaration Files Example</a></li>
        <li><a class="text-white" asp-page="/TypeScript/DeclarationFiles/FindingTypeDeclarationFiles">Finding Type Declaration Files</a></li>
    </ul> *@

<p id="ts-events" class="mb-0"><strong>Events</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/TypeScript/Events/ButtonClick">Button Click</a></li>
</ul>

<p id="ts-external-files" class="mb-0"><strong>External Files</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/TypeScript/External-Files/ExternalReferenceFiles">External and Definition Files</a></li>
</ul>

<p id="ts-flow-control" class="mb-0"><strong>Flow Control</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/TypeScript/FlowControl/Break">break</a></li>
    <li><a class="text-white" asp-page="/TypeScript/FlowControl/Continue">continue</a></li>
    <li><a class="text-white" asp-page="/TypeScript/FlowControl/If">if</a></li>
    <li><a class="text-white" asp-page="/TypeScript/FlowControl/Loops">loop examples</a></li>
    <li><a class="text-white" asp-page="/TypeScript/FlowControl/NullCheck">null / undefined checks</a></li>
    <li><a class="text-white" asp-page="/TypeScript/FlowControl/Switch">switch case</a></li>
</ul>

<p id="ts-forms" class="mb-0"><strong>Forms</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/TypeScript/Forms/FormControls">Form Controls</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Forms/GetValuesFromDropDown">Get values from drop down</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Forms/LoopThruFormControls">Loop thru form controls</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Forms/ValidatingNumericInput">Validating Numeric Input</a></li>
</ul>

<p id="ts-functions" class="mb-0"><strong>Functions</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/TypeScript/Functions/ArrowFunctions">Arrow Functions</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Functions/ArrowFunctionsThis">Arrow Functions 'this'</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Functions/Examples">Function Examples</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Functions/FunctionScopeExample">Function Scope Example</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Functions/FunctionWithDefaultArgumentsVals">Function with default arg values</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Functions/FunctionTypes">Function Types</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Functions/GlobalFunctions">Global Functions</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Functions/Lambdas">Lambdas</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Functions/OptionalArguments">Optional Arguments</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Functions/SimpleArrowsExample">Simple Arrow Functions Example</a></li>
</ul>

<p id="ts-html" class="mb-0"><strong>Html Elements</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/TypeScript/HtmlElements/Targeting">Targeting Html Elements</a></li>
</ul>

<p id="ts-installation" class="mb-0"><strong>Installation</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/TypeScript/Installation/InstallingTS">Installing /TypeScript</a></li>
</ul>

<p id="ts-interfaces" class="mb-0"><strong>Interfaces</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/TypeScript/Interfaces/Basics">Basics</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Interfaces/DuckTyping">Duck Typing</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Interfaces/Employee">Employee Interface Example</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Interfaces/ImplementsVsExtends">Implements vs Extends</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Interfaces/InterfaceClassContractExample">Interface Spaceship Contract Example</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Interfaces/ConfigContractExample">Configuration Contract Example</a></li>
</ul>

<p id="ts-keywords" class="mb-0"><strong>Keywords</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/TypeScript/Keywords/All">all keywords</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Keywords/Const">const</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Keywords/Declare">declare (Ambient Declarations)</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Keywords/Let">let</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Keywords/Readonly">readonly</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Keywords/Static">static</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Keywords/Super">super</a></li>
</ul>

<p id="ts-modules" class="mb-0"><strong>Modules</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/TypeScript/modules/Basics">Basics</a></li>
    <li><a class="text-white" asp-page="/TypeScript/modules/Export">export</a></li>
    <li><a class="text-white" asp-page="/TypeScript/modules/ImportRelativeNonRelative">import: relative vs non-relative</a></li>
</ul>

<p id="ts-namespaces" class="mb-0"><strong>Namespaces</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/TypeScript/namespaces/Namespaces">Namespace Demos</a></li>
</ul>

<p id="ts-operators" class="mb-0"><strong>Operators</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/TypeScript/Operators/Modulus">Modulus Example</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Operators/NonNullAssertionOperator">Non Null Assertion Operator</a></li>
</ul>

<p id="ts-reference" class="mb-0"><strong>Reference Files</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/TypeScript/ReferenceFiles/ReferenceFiles">Reference File Demo</a></li>
</ul>

<p id="ts-strings" class="mb-0"><strong>String</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/TypeScript/Strings/TemplateLiterals">String Template Literals</a></li>
</ul>

<p id="ts-types" class="mb-0"><strong>Types</strong></p>
<ul class="list-unstyled">
    <li><a class="text-white" asp-page="/TypeScript/Types/DataTypeExamples">Data Type Examples</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Types/EnumExamples">Enum Examples</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Types/Primitive">Primitive Types Example</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Types/ReadonlyArray">Readonly Array</a></li>
    <li><a class="text-white" asp-page="/TypeScript/Types/UnionTypes">Union Types</a></li>
</ul>

