@page

@using JsPlayground2021.Web.Data.Enums

@model JsPlayground.Pages.TypeScript.Classes.CarModel

@{
    string pageId = "Car Example";
    Layout = "~/Pages/Shared/_PageLayout.cshtml";
}

@{
    ViewData["Title"] = pageId;
}

@section LibraryHeader {TypeScript}
@section PageName {@pageId}

@section Menu
{
        <partial name="_MenuContainer" model="MenuType.TypeScript" />
}

<p>Car Class example. Has properties and methods.</p>

<div class="card text-white bg-info mt-5">
    <div class="card-header">
        Car
    </div>
    <div class="card-body">
        <p id="engine-label"></p>
        <p id="start-label"></p>
        <p id="stop-label"></p>
    </div>
</div>


@section Scripts
{
    <script src="/assets/javascripts/compiled/classes/car.js"></script>
}